@charset "UTF-8";

/*폼*/
form {margin:0;}

/*메인*/
#main_wrap {padding:0 30px 50px;overflow:hidden;}
#main_wrap h2 {margin:30px 0 0;position:relative;font-size:16px;font-weight:600;letter-spacing:-1px;line-height:1em;padding:0 0 10px 10px;}
#main_wrap h2:before {display:inline-block;position:absolute;left:0;top:0;width:4px;height:16px;background:#1a4e99;content:'';}
#main_wrap .btn_small {float:right;margin-bottom:5px !important;}

/*테이블*/
.sidx_head01 {}
.sidx_head01 table {width:100%;border:1px solid #ddd;table-layout:fixed;}
.sidx_head01 th,
.sidx_head01 td {border:1px solid #ddd;padding:10px;vertical-align:middle;}
.sidx_head01 th {font-weight:600;letter-spacing:-0.05em;background:#f8f8f8;}
.sidx_head01 tbody td {line-height:1.4em;word-break:break-all;}
